* {margin:0px;padding:0px;}

.header {
    display:flex;
    position:absolute;
}

.header .title {
    position:relative;
}

.header .nav {
    display:flex;
    position:relative;
}

.body {
    display:flex;
}

.body .nav {

}

.body .contents {

}

.body .contents .content {

}

.footer {

}