* {margin:0px;padding:0px;}

.header {
	background-color:#f00;
    display:flex;
	padding:10px;
	height:100px;
}

.header .title {
	width:30%;
	background-color:#0f0;
}

.header .nav {
	background-color:#00f;
	width:70%;
}

.header .nav ul {
	display:flex;
}

.header .nav ul li {

}

.body {
    display:flex;
}

.body .nav {

}

.body .contents {

}

.body .contents .content {

}

.footer {

}
