:root {
	--point-color:#FFFD00;
	--secondary-color:#F9F871;
}

.nav-links {
	color:#fff;
}

.nav-links:hover {
	color:#808080;
}

.point-color {
	color:var(--point-color);
	font-weight:bold;
}

.second-color {
	color:var(--secondary-color);
}
